In [1]:
import pandas as pd
import sqlite3

In [2]:
with sqlite3.connect('mlsdb.sqlite') as conn:
    query = conn.execute("""
    SELECT
        p.name as Name,
        p.nation as Nation,
            p.pos as Position,
            p.squad as Squad,
            p.age as Age,
            pt.mp as Matches,
            pt.starts as Starts,
            pt."min" as Minutes,
            p."90s" as "90s",
            ps.gls as Gls,
            pp.ast as Ast,
            ps.pk as "G-PK",
            ps.pkAtt as "PKatt",
            ROUND(ps.gls/p."90s", 2) as "Gls/90",
            ROUND(pp.ast/p."90s", 2) as "Ast/90",
            ROUND((ps.gls + pp.ast)/p."90s", 2) as "Gls+ast/90",
            pd.tkl as "TKLatt",
            ROUND(CAST(pd.tklW as REAL)/pd.tkl, 2) as "Tkl%",
            pd.blk as Blks,
            pd.int as Int,
            ROUND(pd.tkl/p."90s", 2) as "Tkl/90",
            ROUND(pd.blk/p."90s", 2) as "Blk/90",
            ROUND(pd.int/p."90s", 2) as "Int/90",
            pm.crdY as Ycard,
            pm.crdR as Rcard
        FROM players p
        INNER JOIN playerTime pt
            ON p.id = pt.player_id
        INNER JOIN playerShooting ps
            ON p.id = ps.player_id
        INNER JOIN playerPassing pp
            ON p.id = pp.player_id
        INNER JOIN playerDefense pd
            ON p.id = pd.player_id
        INNER JOIN playerMisc pm
            ON p.id = pm.player_id;""")
    cols = [column[0] for column in query.description]
    results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

In [9]:
results

,Name,Nation,Position,Squad,Age,Matches,Starts,Minutes,90s,Gls,...,Gls+ast/90,TKLatt,Tkl%,Blks,Int,Tkl/90,Blk/90,Int/90,Ycard,Rcard
0,Paxten Aaronson,us USA,"FW,MF",Philadelphia,19,18,2,377,4.2,1,...,0.24,13,0.77,7,3,3.10,1.67,0.71,1,0
1,Lalas Abubakar,gh GHA,DF,Colorado Rapids,27,25,23,"1,974",21.9,4,...,0.18,33,0.64,48,43,1.51,2.19,1.96,7,0
2,Nicolás Acevedo,uy URU,"MF,DF",NYCFC,23,24,20,"1,680",18.7,0,...,0.00,58,0.60,32,51,3.10,1.71,2.73,5,0
3,Ifunanyachi Achara,us USA,"FW,MF",Toronto FC,24,10,0,272,3.0,0,...,0.00,6,0.67,5,8,2.00,1.67,2.67,1,0
4,Bryan Acosta,hn HON,MF,Colorado Rapids,28,20,17,"1,477",16.4,0,...,0.12,37,0.81,15,22,2.26,0.91,1.34,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1752,Rida Zouhir,ca CAN,MF,CF Montréal,18,4,1,114,1.3,0,...,0.00,2,1.00,0,1,1.54,0.00,0.77,1,0
1753,Ethan Zubak,us USA,"FW,MF",Nashville,24,9,1,123,1.4,0,...,0.00,2,0.00,0,1,1.43,0.00,0.71,2,0
1754,Dario Župarić,ba BIH,DF,Portland Timbers,30,24,18,"1,653",18.4,0,...,0.00,20,0.60,17,33,1.09,0.92,1.79,4,0
1755,Graham Zusi,us USA,DF,Sporting KC,36,18,17,"1,412",15.7,1,...,0.13,23,0.65,30,38,1.46,1.91,2.42,1,0
1756,Róbert Þorkelsson,is ISL,"DF,MF",CF Montréal,20,7,0,88,1.0,0,...,0.00,3,0.67,0,2,3.00,0.00,2.00,0,0