In [27]:
import pandas as pd
import sqlite3

In [28]:
with sqlite3.connect('mlsdb.sqlite') as conn:
    query = conn.execute("""
    SELECT 
    p.Player name,
    p.squad squad,
    ps.gls goals
    FROM playerShooting ps
    INNER JOIN players p
    ON ps.Id = p.Id 
    ORDER BY goals DESC;""")
    cols = [column[0] for column in query.description]
    results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

In [29]:
results

                     name  goals
0          Jesus Ferreira     10
1       Sebastián Driussi      9
2         Jeremy Ebobisse      9
3            Paul Arriola      8
4    Valentín Castellanos      8
..                    ...    ...
690        Gedion Zelalem      0
691           Rida Zouhir      0
692           Ethan Zubak      0
693         Dario Župarić      0
694     Róbert Þorkelsson      0

[695 rows x 2 columns]