In [13]:
import pandas as pd
import sqlite3

# Player Data

In [75]:
df1 = pd.read_csv('player_defense.csv')
df2 = pd.read_csv('player_gsc.csv')
df3 = pd.read_csv('player_misc.csv')
df4 = pd.read_csv('player_passing.csv')
df5 = pd.read_csv('player_possesion.csv')
df6 = pd.read_csv('player_shooting.csv')
df7 = pd.read_csv('player_time.csv')

In [76]:
players = df1[['Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s']]
#create ID column
players.reset_index(inplace = True)
players['index'] = list(map(lambda x: x+1, players['index']))
players.rename(columns = {'index':'Id'}, inplace = True)
players['Nation'] = list(map(lambda x: x[-3:], players['Nation']))
players['Age'] = list(map(lambda x: x[:2], players['Age']))

defense = df1.drop(['Rk', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Matches', '-9999', 'Tkl%', '%', 'Tkl+Int'], 1)
gsc = df2.drop(['Rk', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Matches', '-9999', 'SCA', 'SCA90', 'GCA', 'GCA90'], 1)
misc = df3.drop(['Rk', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Matches', '-9999', 'Int', 'TklW'],1)
passing = df4.drop(['Rk', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Matches', '-9999', 'Cmp.1', 'Att.1', 'Cmp%.1', 'Cmp%.2', 'Cmp%.3', 'A-xA', 'KP', '1/3'], 1)
possession = df5.drop(['Rk', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Matches', '-9999', 'Touches', 'Live', 'Succ%', '1/3'], 1)
shooting = df6.drop(['Rk', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'SoT%', 'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'npxG/Sh', 'G-xG', 'np:G-xG'], 1)
playtime = df7.drop(['Rk', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Matches', '-9999', 'Mn/MP', 'Min%', '+/-', '+/-90', 'xG+/-', 'xG+/-90', 'On-Off.1'], 1)

C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/3557681887.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players['index'] = list(map(lambda x: x+1, players['index']))
C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/3557681887.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players['Nation'] = list(map(lambda x: x[-3:], players['Nation']))
C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/3557681887.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players['Age'] = list(map(lambda x: x[:2], players['Age']))
C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/3557681887.py:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  defense = df1.drop(['Rk', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Matches', '-9999', 'Tkl%', '%', 'Tkl+Int'], 1)
C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/3557681887.py:10: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  gsc = df2.drop(['Rk', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Matches', '-9999', 'SCA', 'SCA90', 'GCA', 'GCA90'], 1)
C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/3557681887.py:11: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  misc = df3.drop(['Rk', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Matches', '-9999', 'Int', 'TklW'],1)
C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/3557681887.py:12: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  passing = df4.drop(['Rk', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Matches', '-9999', 'Cmp.1', 'Att.1', 'Cmp%.1', 'Cmp%.2', 'Cmp%.3', 'A-xA', 'KP', '1/3'], 1)
C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/3557681887.py:13: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  possession = df5.drop(['Rk', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Matches', '-9999', 'Touches', 'Live', 'Succ%', '1/3'], 1)
C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/3557681887.py:14: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  shooting = df6.drop(['Rk', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'SoT%', 'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'npxG/Sh', 'G-xG', 'np:G-xG'], 1)
C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/3557681887.py:15: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  playtime = df7.drop(['Rk', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Matches', '-9999', 'Mn/MP', 'Min%', '+/-', '+/-90', 'xG+/-', 'xG+/-90', 'On-Off.1'], 1)

In [77]:
#add player id to each df
ids = players[['Id', 'Player']]
defense = pd.merge(ids, defense, how = 'inner', on='Player').drop(['Player'], 1)
gsc = pd.merge(ids, gsc, how = 'inner', on='Player').drop(['Player'], 1)
misc = pd.merge(ids, misc, how = 'inner', on='Player').drop(['Player'], 1)
passing = pd.merge(ids, passing, how = 'inner', on='Player').drop(['Player'], 1)
possession = pd.merge(ids, possession, how = 'inner', on='Player').drop(['Player'], 1)
shooting = pd.merge(ids, shooting, how = 'inner', on='Player').drop(['Player'], 1)
playtime = pd.merge(ids, playtime, how = 'inner', on='Player').drop(['Player'], 1)

C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/544113327.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  defense = pd.merge(ids, defense, how = 'inner', on='Player').drop(['Player'], 1)
C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/544113327.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  gsc = pd.merge(ids, gsc, how = 'inner', on='Player').drop(['Player'], 1)
C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/544113327.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  misc = pd.merge(ids, misc, how = 'inner', on='Player').drop(['Player'], 1)
C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/544113327.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  passing = pd.merge(ids, passing, how = 'inner', on='Player').drop(['Player'], 1)
C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/544113327.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  possession = pd.merge(ids, possession, how = 'inner', on='Player').drop(['Player'], 1)
C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/544113327.py:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  shooting = pd.merge(ids, shooting, how = 'inner', on='Player').drop(['Player'], 1)
C:\Users\Brian\AppData\Local\Temp/ipykernel_24328/544113327.py:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  playtime = pd.merge(ids, playtime, how = 'inner', on='Player').drop(['Player'], 1)

,Id,Tkl,TklW,Def 3rd,Mid 3rd,Att 3rd,Tklvsdribble,Att,Tkl%,Past,...,Mid 3rd.1,Att 3rd.1,Blocks,Sh,ShSv,Pass,Int,Tkl+Int,Clr,Err
0,1,7.0,5,3.0,3.0,1.0,3.0,5.0,60.0,2.0,...,38.0,31.0,2.0,0.0,0.0,2.0,2,9.0,0.0,0.0
1,2,21.0,14,13.0,8.0,0.0,6.0,11.0,54.5,5.0,...,58.0,5.0,34.0,16.0,2.0,18.0,32,53.0,60.0,0.0
2,3,40.0,21,20.0,11.0,9.0,24.0,40.0,60.0,16.0,...,102.0,36.0,22.0,0.0,0.0,22.0,37,77.0,13.0,0.0
3,4,5.0,4,1.0,4.0,0.0,2.0,5.0,40.0,3.0,...,46.0,25.0,3.0,0.0,0.0,3.0,7,12.0,2.0,0.0
4,5,18.0,14,9.0,9.0,0.0,3.0,10.0,30.0,7.0,...,73.0,11.0,5.0,3.0,0.0,2.0,10,28.0,14.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,685,2.0,2,2.0,0.0,0.0,0.0,1.0,0.0,1.0,...,13.0,7.0,0.0,0.0,0.0,0.0,1,3.0,0.0,0.0
693,686,1.0,0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,...,6.0,14.0,1.0,0.0,0.0,1.0,0,1.0,0.0,0.0
694,687,7.0,3,7.0,0.0,0.0,1.0,5.0,20.0,4.0,...,19.0,3.0,6.0,2.0,0.0,4.0,16,23.0,38.0,0.0
695,688,13.0,7,8.0,3.0,2.0,8.0,15.0,53.3,7.0,...,48.0,16.0,23.0,3.0,0.0,20.0,28,41.0,24.0,0.0
696,689,2.0,1,0.0,1.0,1.0,1.0,1.0,100.0,0.0,...,5.0,3.0,0.0,0.0,0.0,0.0,2,4.0,0.0,0.0

In [79]:
#connect to mlsdb and create/update players table
with sqlite3.connect('mlsdb.sqlite') as conn:
    c = conn.cursor()
    c.execute('CREATE TABLE IF NOT EXISTS players (id INT, name TEXT, nation TEXT, position TEXT, squad TEXT, age INT, born INT, games REAL)')
    conn.commit()
    players.to_sql('players', conn, if_exists='replace', index = False)
    
    c.execute('CREATE TABLE IF NOT EXISTS playerDefense (playerId INT, tkl REAL, tklW INT, tklDefThird REAL, tklMidThird REAL, tklAttThird REAL, tklVsDrib INT, tklAttVsDrib INT, past INT, press INT, pressW INT, pressDefThird INT, pressMidThird INT, pressAttThird INT, blk INT, blkSh INT, blkSot INT, blkPass INT, int INT, clr INT, err INT)')     
    conn.commit()
    defense.to_sql('stats', conn, if_exists='replace', index = False) 
    
    #check to make sure column names aren't duplicated in the browser
    c.execute('CREATE TABLE IF NOT EXISTS playerGsc(scaPassLive INT, scaPassDead INT, scaDrib INT, scaSh INT, scaFld INT, scaDef INT, gcaPassLive INT, gcaPassDead INT, gcaDrib INT, gcaSh INT, gcaFld INT, gcaDef INT)')
    conn.commit()
    gsc.to_sql('playerGsc', conn, if_exists='replace', index = False)
    
    c.execute('CREATE TABLE IF NOT EXISTS playerMisc(crdY INT, crdR INT, crdR2 INT, fls INT, fld INT, off Int, crs INT, pkWon INT, pkCon INT, og INT, recov INT, airWon INT, airLost INT)')
    conn.commit()
    misc.to_sql('playerMisc', conn, if_exists='replace', index = False)  
    
    c.execute('CREATE TABLE IF NOT EXISTS playerPassing(totDist INT, prgDist INT, shortCmp INT, shortAtt INT, medCmp INT, medAtt INT, lngCmp INT, lngAtt INT, ast INT, xA REAL, passPpa INT, crsPpa INT, progPasses INT)')
    conn.commit()
    passing.to_sql('playerPassing', conn, if_exists='replace', index = False)
    
    c.execute('CREATE TABLE IF NOT EXISTS playerPossession( defPen INT, defThird INT, midThird INT, attThird INT, attPen INT, succDrib INT, attDrib INT, playersBeat INT, megs INT, carries INT, totDist INT, prgDist INT, mishandles INT, tackled INT, passTarg INT, passRec INT, progPassesRec INT)')
    conn.commit()
    possession.to_sql('playerPossession', conn, if_exists='replace', index = False)
    
    c.execute('CREATE TABLE IF NOT EXISTS playerShooting(gls INT, sh INT, sot INT, avgDist REAL, fk INT, succPk INT, pkAtt INT, xG REAL, npxG REAL)')
    conn.commit()
    shooting.to_sql('playerShooting', conn, if_exists='replace', index = False)    
    
    c.execute('CREATE TABLE IF NOT EXISTS playerTime(min INT, starts INT, minPerStart INT, complete INT, subbed INT, minPerSub INT, unSub INT, ppm REAL, onG INT, onGA INT, onOff REAL, onxG REAL, onxGa REAL)')
    conn.commit()
    playtime.to_sql('playerTime', conn, if_exists='replace', index = False)

# Squad Data

In [184]:
eastdf = pd.read_csv('squad/eastern_conf.csv')
westdf = pd.read_csv('squad/western_conf.csv')
df1 = pd.concat([eastdf, westdf])
df2 = pd.read_csv('squad/passing.csv')
df3 = pd.read_csv('squad/gsc.csv')
df4 = pd.read_csv('squad/shooting.csv')
df5 = pd.read_csv('squad/defense.csv')
df6= pd.read_csv('squad/posession.csv')
df7= pd.read_csv('squad/goalkeeping.csv')
df8= pd.read_csv('squad/squad_advanced_goalkeeping.csv')
df9 = pd.read_csv('squad/misc.csv')

In [185]:
df1.drop(['Rk', 'MP', 'GD', 'Pts/MP', 'xGD/90', 'Top Team Scorer', 'Goalkeeper', 'Notes'], 1, inplace = True)
df2.drop(['90s', 'Cmp%', 'Cmp%.1', 'Cmp%.2', 'Cmp%.3', 'A-xA', 'KP'], 1, inplace = True)
df3.drop(['# Pl', '90s', 'SCA90', 'GCA90'], 1, inplace = True)
df4.drop(['# Pl', '90s', 'SoT%', 'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'npxG/Sh', 'G-xG', 'np:G-xG'], 1, inplace = True)
df5.drop(['# Pl', '90s', 'Tkl%', '%', 'Tkl+Int'], 1, inplace = True)
df6.drop(['# Pl', '90s', 'Touches', 'Succ%', 'Rec%'], 1, inplace = True)
df7.drop(['# Pl', 'MP', 'Starts', 'Min', '90s', 'GA90', 'Save%', 'W', 'D', 'L', 'CS%', 'Save%', 'PKatt', 'Save%'], 1, inplace = True)
df8.drop(['# Pl', '90s', 'PSxG/SoT', 'Cmp%', 'Stp%','#OPA/90', 'GA', 'PKA'], 1, inplace = True)
df9.drop(['# Pl', '90s', 'Won%'], 1, inplace = True)

C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/1833448445.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df1.drop(['Rk', 'MP', 'GD', 'Pts/MP', 'xGD/90', 'Top Team Scorer', 'Goalkeeper', 'Notes'], 1, inplace = True)
C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/1833448445.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df2.drop(['90s', 'Cmp%', 'Cmp%.1', 'Cmp%.2', 'Cmp%.3', 'A-xA', 'KP'], 1, inplace = True)
C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/1833448445.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df3.drop(['# Pl', '90s', 'SCA90', 'GCA90'], 1, inplace = True)
C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/1833448445.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df4.drop(['# Pl', '90s', 'SoT%', 'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'npxG/Sh', 'G-xG', 'np:G-xG'], 1, inplace = True)
C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/1833448445.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df5.drop(['# Pl', '90s', 'Tkl%', '%', 'Tkl+Int'], 1, inplace = True)
C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/1833448445.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df6.drop(['# Pl', '90s', 'Touches', 'Succ%', 'Rec%'], 1, inplace = True)
C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/1833448445.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df7.drop(['# Pl', 'MP', 'Starts', 'Min', '90s', 'GA90', 'Save%', 'W', 'D', 'L', 'CS%', 'Save%'], 1, inplace = True)
C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/1833448445.py:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df8.drop(['# Pl', '90s', 'PSxG/SoT', 'Cmp%', 'Stp%','#OPA/90'], 1, inplace = True)
C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/1833448445.py:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df9.drop(['# Pl', '90s', 'Won%'], 1, inplace = True)

In [186]:
df = pd.merge(df1, df2, how = 'inner', on='Squad')
df = pd.merge(df, df3, how = 'inner', on='Squad')
df = pd.merge(df, df4, how = 'inner', on='Squad')
df = pd.merge(df, df5, how = 'inner', on='Squad')
df = pd.merge(df, df6, how = 'inner', on='Squad')
df = pd.merge(df, df7, how = 'inner', on='Squad')
df = pd.merge(df, df8, how = 'inner', on='Squad')
df = pd.merge(df, df9, how = 'inner', on='Squad')
df.reset_index(inplace = True)
df['index'] = list(map(lambda x: x+1, df['index']))

C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/291323891.py:7: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Att_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = pd.merge(df, df8, how = 'inner', on='Squad')

In [187]:
squads = df[['index', 'Squad', 'W', 'D', 'L', 'Last 5', 'Attendance']]
squads.rename(columns = {'index':'id'}, inplace = True)
squad_stats = df.drop(['Squad', 'W', 'D', 'L', 'Last 5', 'Attendance', '# Pl'], 1)
squad_stats.rename(columns = {'index':'squad_id'}, inplace = True)

#make dict of squads and ids
squad_dict = dict(zip(squads['Squad'], squads['id']))

C:\Users\Brian\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/941489506.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  squad_stats = df.drop(['Squad', 'W', 'D', 'L', 'Last 5', 'Attendance', '# Pl'], 1)

In [188]:
#load squad against stats into df. 
df1 = pd.read_csv('squad/passing_against.csv')
df2 = pd.read_csv('squad/gsc_against.csv')
df3 = pd.read_csv('squad/shooting_against.csv')
df4 = pd.read_csv('squad/defense_against.csv')
df5= pd.read_csv('squad/posession_against.csv')
df6= pd.read_csv('squad/goalkeeping_against.csv')
df7 = pd.read_csv('squad/misc_against.csv')

In [189]:
df1.drop(['90s', 'Cmp%', 'Cmp%.1', 'Cmp%.2', 'Cmp%.3', 'A-xA', 'KP'], 1, inplace = True)
df2.drop(['# Pl', '90s', 'SCA90', 'GCA90'], 1, inplace = True)
df3.drop(['# Pl', '90s', 'SoT%', 'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'npxG/Sh', 'G-xG', 'np:G-xG'], 1, inplace = True)
df4.drop(['# Pl', '90s', 'Tkl%', '%', 'Tkl+Int'], 1, inplace = True)
df5.drop(['# Pl', '90s', 'Touches', 'Succ%', 'Rec%'], 1, inplace = True)
df6.drop(['# Pl', 'MP', 'Starts', 'Min', '90s', 'GA90', 'Save%', 'W', 'D', 'L', 'CS%', 'Save%'], 1, inplace = True)
df7.drop(['# Pl', '90s', 'Won%'], 1, inplace = True)

C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/2553514346.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df1.drop(['90s', 'Cmp%', 'Cmp%.1', 'Cmp%.2', 'Cmp%.3', 'A-xA', 'KP'], 1, inplace = True)
C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/2553514346.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df2.drop(['# Pl', '90s', 'SCA90', 'GCA90'], 1, inplace = True)
C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/2553514346.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df3.drop(['# Pl', '90s', 'SoT%', 'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'npxG/Sh', 'G-xG', 'np:G-xG'], 1, inplace = True)
C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/2553514346.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df4.drop(['# Pl', '90s', 'Tkl%', '%', 'Tkl+Int'], 1, inplace = True)
C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/2553514346.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df5.drop(['# Pl', '90s', 'Touches', 'Succ%', 'Rec%'], 1, inplace = True)
C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/2553514346.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df6.drop(['# Pl', 'MP', 'Starts', 'Min', '90s', 'GA90', 'Save%', 'W', 'D', 'L', 'CS%', 'Save%'], 1, inplace = True)
C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/2553514346.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df7.drop(['# Pl', '90s', 'Won%'], 1, inplace = True)

In [190]:
df = pd.merge(df1, df2, how = 'inner', on='Squad')
df = pd.merge(df, df3, how = 'inner', on='Squad')
df = pd.merge(df, df4, how = 'inner', on='Squad')
df = pd.merge(df, df5, how = 'inner', on='Squad')
df = pd.merge(df, df6, how = 'inner', on='Squad')
squad_against = pd.merge(df, df7, how = 'inner', on='Squad')
squad_against['Squad_id'] = list(map(lambda x: squad_dict[x[3:]], squad_against['Squad']))
squad_against.drop('Squad', 1, inplace = True)

C:\Users\Brian\AppData\Local\Temp/ipykernel_1168/4039849574.py:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  squad_against.drop('Squad', 1, inplace = True)

In [191]:
  #normalize databases further, one table is going to be too confusing

C:\Users\Brian\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

OperationalError: near ")": syntax error

str

,squad_id,GF,GA_x,Pts,xG_x,xGA,xGD,Cmp_x,Att_x,TotDist_x,...,Off,Crs,Int_y,TklW_y,PKwon,PKcon,OG_y,Recov,Won,Lost
0,1,28,20,29,28.7,24.0,4.7,4767,6857,96341,...,28,225,319,265,3,1,0,1820,379,380
1,2,22,13,29,26.4,18.9,7.5,4397,6268,91783,...,26,179,280,207,1,3,0,1486,365,361
2,3,31,17,28,31.8,19.5,12.3,7420,9026,146285,...,27,225,262,185,2,0,1,1430,276,241
3,4,20,23,25,19.7,24.2,-4.5,6449,7917,123356,...,23,199,229,183,0,3,0,1196,232,217
4,5,27,30,24,27.3,25.7,1.6,5518,7224,109166,...,30,171,294,212,3,5,1,1403,263,255
5,6,27,26,24,22.8,20.2,2.6,7574,9192,155249,...,20,282,230,162,3,1,1,1356,258,228
6,7,17,25,21,19.0,23.7,-4.6,5588,6956,114180,...,22,152,281,192,2,3,0,1087,182,212
7,8,20,18,21,21.9,19.5,2.5,6421,7953,127560,...,28,201,290,171,0,1,1,1331,224,287
8,9,17,22,20,19.8,22.2,-2.3,7370,9166,149843,...,20,219,282,178,1,3,0,1423,248,276
9,10,24,24,19,24.4,22.4,2.0,7387,8817,147222,...,32,219,260,168,1,2,0,1261,214,200
10,11,24,32,18,18.7,35.1,-16.3,6898,8749,122639,...,14,146,304,188,1,1,0,1479,225,315
11,12,15,22,17,21.3,22.2,-0.9,5923,7714,115409,...,44,224,292,203,1,4,1,1468,335,273
12,13,18,27,14,18.1,20.9,-2.8,4634,6324,99785,...,23,189,257,135,0,1,1,1380,304,270
13,14,35,18,36,30.6,18.7,11.9,6636,8260,126141,...,26,186,271,188,2,2,1,1483,269,246
14,15,32,20,31,25.2,26.3,-1.1,7070,8633,142613,...,32,200,239,160,1,3,0,1269,180,242
15,16,20,19,29,22.7,22.0,0.7,5538,7231,114303,...,34,213,267,179,1,2,0,1384,266,298
16,17,27,20,26,24.8,19.1,5.7,6761,8384,128577,...,28,163,212,184,1,3,0,1383,224,262
17,18,22,19,26,22.7,18.1,4.5,6019,7677,125473,...,37,201,229,158,1,2,0,1341,357,262
18,19,20,19,24,27.0,20.8,6.2,7275,8776,142417,...,20,219,221,156,2,1,0,1239,213,195
19,20,24,19,23,22.5,23.5,-0.9,6888,8397,134607,...,22,218,291,152,4,2,0,1198,225,209
20,21,27,27,22,24.7,26.1,-1.4,6750,8519,132607,...,17,188,300,202,4,2,1,1544,256,275
21,22,21,21,21,21.9,24.4,-2.5,6500,7893,133577,...,28,188,262,168,2,2,0,1141,201,239
22,23,20,21,21,21.0,27.9,-6.9,5888,7552,113998,...,22,167,322,182,2,4,1,1498,261,265
23,24,18,28,21,19.9,25.8,-5.9,5504,7054,115847,...,25,203,293,177,5,3,0,1191,254,255
24,25,17,21,19,23.2,20.1,3.1,5741,7237,124140,...,31,196,224,159,2,3,0,1204,246,201
25,26,16,32,16,15.5,26.7,-11.2,7203,8958,145501,...,17,195,284,168,1,3,0,1419,272,286
26,27,25,34,15,20.7,29.9,-9.3,7384,8851,149477,...,14,178,273,186,3,4,0,1255,185,200

In [169]:
pd.concat([eastdf, westdf])

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,CF MontrÃƒÂ©al,17,9,2,6,32,29,3,29,1.71,23.8,18.4,5.4,0.32,L W L W W,13904,Djordje Mihailovic - 7,Sebastian Breza,NaN
1,2,NY Red Bulls,18,8,5,5,28,20,8,29,1.61,28.7,24.0,4.7,0.26,W L W L W,15296,Lewis Morgan - 8,Carlos Coronel,NaN
2,3,Philadelphia,17,7,8,2,22,13,9,29,1.71,26.4,18.9,7.5,0.44,W D D W L,17621,DÃƒÂ¡niel Gazdag - 7,Andre Blake,NaN
3,4,NYCFC,16,8,4,4,31,17,14,28,1.75,31.8,19.5,12.3,0.77,W W D L D,17653,ValentÃƒÂ­n Castellanos - 8,Sean Johnson,NaN
4,5,Orlando City,17,7,4,6,20,23,-3,25,1.47,19.7,24.2,-4.5,-0.27,D L D W L,17353,Ercan Kara - 6,Pedro Gallese,NaN
5,6,FC Cincinnati,17,7,3,7,27,30,-3,24,1.41,27.3,25.7,1.6,0.10,L L D W D,21343,Brandon Vazquez - 8,Roman Celentano,NaN
6,7,New England,17,6,6,5,27,26,1,24,1.41,22.8,20.2,2.6,0.15,D W D W D,18413,Adam Buksa - 7,Matt Turner,NaN
7,8,Inter Miami,16,6,3,7,17,25,-8,21,1.31,19.0,23.7,-4.6,-0.29,D W W L W,12562,Leonardo Campana - 7,Drake Callender,NaN
8,9,Columbus Crew,16,5,6,5,20,18,2,21,1.31,21.9,19.5,2.5,0.16,L W D D W,18993,Lucas ZelarayÃƒÂ¡n - 4,Eloy Room,NaN
9,10,Charlotte FC,18,6,2,10,17,22,-5,20,1.11,19.8,22.2,-2.3,-0.13,L W D L L,36404,Karol Ã…Å¡widerski - 4,Kristijan Kahlina,NaN
10,11,Atlanta Utd,16,5,4,7,24,24,0,19,1.19,24.4,22.4,2.0,0.12,D L W L L,45776,"Ronaldo Cisneros, Josef MartÃƒÂ­nez... - 4",Brad Guzan,NaN
11,12,Toronto FC,17,5,3,9,24,32,-8,18,1.06,18.7,35.1,-16.3,-0.96,D W L W L,23299,JesÃƒÂºs JimÃƒÂ©nez - 8,Alex Bono,NaN
12,13,Chicago Fire,17,4,5,8,15,22,-7,17,1.00,21.3,22.2,-0.9,-0.05,L L W L W,16214,"Kacper PrzybyÃ…â€ško, Xherdan Shaqiri - 3",Gabriel Slonina,NaN
13,14,D.C. United,15,4,2,9,18,27,-9,14,0.93,18.1,20.9,-2.8,-0.19,L D L L L,16709,"Taxiarchis Fountas, Ola Kamara - 6",Bill Hamid,NaN
0,1,Los Angeles FC,17,11,3,3,35,18,17,36,2.12,30.6,18.7,11.9,0.70,W W D W W,22040,"Carlos Vela, Cristian Arango - 6",Maxime CrÃƒÂ©peau,NaN
1,2,Austin FC,17,9,4,4,32,20,12,31,1.82,25.2,26.3,-1.1,-0.07,D L W D W,20738,SebastiÃƒÂ¡n Driussi - 9,Brad Stuver,NaN
2,3,Real Salt Lake,17,8,5,4,20,19,1,29,1.71,22.7,22.0,0.7,0.04,W W L W D,20300,"Sergio CÃƒÂ³rdova, Justen Glad... - 3",Zac MacMath,NaN
3,4,FC Dallas,17,7,5,5,27,20,7,26,1.53,24.8,19.1,5.7,0.34,L W L D L,16242,Jesus Ferreira - 10,Maarten Paes,NaN
4,5,Nashville,17,7,5,5,22,19,3,26,1.53,22.7,18.1,4.5,0.27,D W D L W,28731,Hany Mukhtar - 8,Joe Willis,NaN
5,6,LA Galaxy,16,7,3,6,20,19,1,24,1.50,27.0,20.8,6.2,0.39,D L W D L,23336,Javier HernÃƒÂ¡ndez - 6,Jonathan Bond,NaN
6,7,Seattle,16,7,2,7,24,19,5,23,1.44,22.5,23.5,-0.9,-0.06,W W D W L,32475,"RaÃƒÂºl RuidÃƒÂ­az, Jordan Morris - 5",Stefan Frei,NaN
7,8,Portland Timbers,18,5,7,6,27,27,0,22,1.22,24.7,26.1,-1.4,-0.08,L L D W W,23341,"JarosÃ…â€šaw Niezgoda, Bill Tuiloma - 5",AljaÃ…Â¾ IvaÃ„ÂiÃ„Â,NaN
8,9,Houston Dynamo,17,6,3,8,21,21,0,21,1.24,21.9,24.4,-2.5,-0.15,W L L W L,14907,Darwin Quintero - 7,Steve Clark,NaN
9,10,Minnesota Utd,17,6,3,8,20,21,-1,21,1.24,21.0,27.9,-6.9,-0.41,W L L L W,19337,Robin Lod - 6,Dayne St. Clair,NaN
10,11,Vancouver,17,6,3,8,18,28,-10,21,1.24,19.9,25.8,-5.9,-0.35,W W L W D,16240,Lucas Cavallini - 5,Thomas Hasal,NaN
11,12,Colorado Rapids,16,5,4,7,17,21,-4,19,1.19,23.2,20.1,3.1,0.19,L W L D L,13864,Diego Rubio - 7,William Yarbrough,NaN
12,13,Sporting KC,18,4,4,10,16,32,-16,16,0.89,15.5,26.7,-11.2,-0.62,D L L W L,18474,Johnny Russell - 5,Tim Melia,NaN
13,14,San Jose,16,3,6,7,25,34,-9,15,0.94,20.7,29.9,-9.3,-0.58,W D L D L,13132,Jeremy Ebobisse - 9,J.T. Marcinkowski,NaN